## NLP

### The original dataset is available for download on [Kaggle](https://www.kaggle.com/ehallmar/beers-breweries-and-beer-reviews#reviews.csv). 

### The following steps demonstrate the data cleaning process for NLP use. Only entries with text reviews were preserved.

In [1]:
import pandas as pd
import numpy as np
import tables
import os

In [2]:
df = pd.read_csv('../data/csv/reviews.csv')

# Displays the number of rows in df
print('The number of rows are: ' + str(len(df.index)))

The number of rows are: 9073128

In [3]:
df.head(5)

,beer_id,username,date,text,look,smell,taste,feel,overall,score
0,271781,bluejacket74,2017-03-17,"750 ml bottle, 2016 vintage, bottle #304 of...",4.00,4.00,4.00,4.25,4.00,4.03
1,125646,_dirty_,2017-12-21,,4.50,4.50,4.50,4.50,4.50,4.50
2,125646,CJDUBYA,2017-12-21,,4.75,4.75,4.75,4.75,4.75,4.75
3,125646,GratefulBeerGuy,2017-12-20,0% 16 oz can. Funny story: As I finally wal...,4.75,4.75,4.50,4.50,4.50,4.58
4,125646,LukeGude,2017-12-20,Classic TH NEIPA. Overflowing head and bouq...,4.25,4.50,4.25,4.25,4.25,4.31

In [4]:
mid_df = df.drop(columns=['date','look','smell','taste','feel','overall','score'])

In [5]:
# list comprehension to strip each row
mid_df['og_review'] = [x.strip(" \xa0") for x in mid_df['text']]

In [6]:
# Remove column with extraneous string characters
mid_df = mid_df.drop(['text'], axis = 1)
mid_df.head()

   beer_id         username                                          og_review
0   271781     bluejacket74  750 ml bottle, 2016 vintage, bottle #304 of 36...
1   125646          _dirty_
2   125646          CJDUBYA
3   125646  GratefulBeerGuy  0% 16 oz can. Funny story: As I finally walked...
4   125646         LukeGude  Classic TH NEIPA. Overflowing head and bouquet...

In [7]:
# Extract rows with reviews
final_df = mid_df[mid_df['og_review'] != '']
final_df.head()

,beer_id,username,og_review
0,271781,bluejacket74,"750 ml bottle, 2016 vintage, bottle #304 of 36..."
3,125646,GratefulBeerGuy,0% 16 oz can. Funny story: As I finally walked...
4,125646,LukeGude,Classic TH NEIPA. Overflowing head and bouquet...
7,125646,MFMB,Pours a creamy opaque light straw yellow with ...
13,125646,jngrizzaffi,Pours a cloudy yellow color with a thin foamy ...

### Final data to contain beer_id, username, review

In [8]:
# List all possible punctuations
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

# For each row, remove punctuations, handle case and split on spaces to convert individual words to elements
final_df['review'] = [''.join(character for character in strings if character not in punctuations).lower().split(" ") for strings in final_df['og_review']]

# Remove column with extraneous string characters
final_df = final_df.drop(['og_review'], axis = 1)
final_df.head(20)

<ipython-input-8-81b7c0c3dcc3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['review'] = [''.join(character for character in strings if character not in punctuations).lower().split(" ") for strings in final_df['og_review']]

,beer_id,username,review
0,271781,bluejacket74,"[750, ml, bottle, 2016, vintage, bottle, 304, ..."
3,125646,GratefulBeerGuy,"[0, 16, oz, can, funny, story, as, i, finally,..."
4,125646,LukeGude,"[classic, th, neipa, overflowing, head, and, b..."
7,125646,MFMB,"[pours, a, creamy, opaque, light, straw, yello..."
13,125646,jngrizzaffi,"[pours, a, cloudy, yellow, color, with, a, thi..."
15,125646,PDOR1960,"[another, great, brew, from, treehouse]"
19,125646,Lucular,"[pours, with, a, cloudy, yelloworange, haze, w..."
28,205644,Brutaltruth,"[from, the, tall, boy, can, and, enjoyed, in, ..."
32,205644,secondtooth,"[appearance, pours, a, deep, black, with, tan,..."
36,150672,Derek,"[beautiful, crystal, clear, pour, with, a, nic..."
37,150672,byronic,"[poured, a, bit, lively, and, had, to, wait, f..."
39,150672,Coronaeus,"[355ml, can, bright, copper, with, a, dense, f..."
43,150672,wanderingspirit,"[quite, balanced, and, distinct, ipa, of, a, w..."
44,150672,Phyl21ca,"[can, poured, a, clear, amber, color, ale, wit..."
48,150672,Sathanas,"[can, bought, online, from, liquor, direct, dr..."
50,150672,KingHoppy,"[passing, through, swift, current, sk, i, stop..."
53,150672,Bunman3,"[yes, please, ive, been, hoping, to, find, bla..."
56,150672,sasky7777,"[a, well, put, together, hoppy, ale, easy, dri..."
59,150672,biboergosum,"[355ml, can, the, latest, from, this, nascent,..."
62,311190,Rub_This_BBQ,"[look, is, great, dark, with, a, nice, creamy,..."

In [9]:
print('The number of rows are: ' + str(len(final_df.index)))

The number of rows are: 2987991

In [10]:
final_df.to_csv('../data/csv/cleaned_reviews.csv')

In [12]:
# final_df.to_hdf('../data/csv/cleaned_reviews.hdf', key = 'df', mode = 'w')

### Hash repeated words to optimize for NLP use