## NLP

### The original dataset is available for download on [Kaggle](https://www.kaggle.com/ehallmar/beers-breweries-and-beer-reviews#reviews.csv). 

### The following steps demonstrate the data cleaning process for NLP use. Only entries with text reviews were preserved.

In [ ]:
import pandas as pd
import numpy as np
import tables
import os

In [2]:
df = pd.read_csv('../data/csv/reviews.csv')

# Displays the number of rows in df
print(len(df.index))

9073128

In [3]:
df.head(5)

,beer_id,username,date,text,look,smell,taste,feel,overall,score
0,271781,bluejacket74,2017-03-17,"750 ml bottle, 2016 vintage, bottle #304 of...",4.00,4.00,4.00,4.25,4.00,4.03
1,125646,_dirty_,2017-12-21,,4.50,4.50,4.50,4.50,4.50,4.50
2,125646,CJDUBYA,2017-12-21,,4.75,4.75,4.75,4.75,4.75,4.75
3,125646,GratefulBeerGuy,2017-12-20,0% 16 oz can. Funny story: As I finally wal...,4.75,4.75,4.50,4.50,4.50,4.58
4,125646,LukeGude,2017-12-20,Classic TH NEIPA. Overflowing head and bouq...,4.25,4.50,4.25,4.25,4.25,4.31

In [4]:
mid_df = df.drop(columns=['date','look','smell','taste','feel','overall','score'])

In [5]:
# list comprehension to strip each row
mid_df['review'] = [x.strip(" \xa0") for x in mid_df['text']]

In [6]:
# Remove column with extraneous string characters
mid_df = mid_df.drop(['text'], axis = 1)
mid_df.head()

   beer_id         username                                             review
0   271781     bluejacket74  750 ml bottle, 2016 vintage, bottle #304 of 36...
1   125646          _dirty_
2   125646          CJDUBYA
3   125646  GratefulBeerGuy  0% 16 oz can. Funny story: As I finally walked...
4   125646         LukeGude  Classic TH NEIPA. Overflowing head and bouquet...

### Final data to contain beer_id, username, review

In [7]:
# Remove rows without reviews
final_df = mid_df[mid_df['review'] != '']
final_df.head()

,beer_id,username,review
0,271781,bluejacket74,"750 ml bottle, 2016 vintage, bottle #304 of 36..."
3,125646,GratefulBeerGuy,0% 16 oz can. Funny story: As I finally walked...
4,125646,LukeGude,Classic TH NEIPA. Overflowing head and bouquet...
7,125646,MFMB,Pours a creamy opaque light straw yellow with ...
13,125646,jngrizzaffi,Pours a cloudy yellow color with a thin foamy ...

In [8]:
# Displays the number of rows in final_df
print(len(final_df.index))

2987991

In [9]:
final_df.to_csv('../data/csv/cleaned_reviews.csv')

In [10]:
final_df.to_hdf('../data/csv/cleaned_reviews.hdf', key = 'df', mode = 'w')

/Users/CatherineStLaurent/.local/share/virtualenvs/ALE-gorithm-II-F6_qoPEY/lib/python3.8/site-packages/pandas/core/generic.py:2490: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['username', 'review'], dtype='object')]

  pytables.to_hdf(